{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}Личный кабинет{% endblock %}
<div class="container mt-header mb-5">
	<div class="row mt-5">
		<div class="col-12 col-xxl-6 d-flex justify-content-center">
			<div><img src="{% static 'img/Cake2.png' %}" alt=""></div>
		</div>
		<div class="col-12 col-xxl-6 d-flex flex-column justify-content-center align-items-center align-items-xxl-start" id="LK">
	{% if user.is_authenticated %}
				<div class="d-flex">
					<ul class="list-group">
						<li class="list-group-item border-0 ps-0">
							<span class="fs_40 cake_blue">{{ user.name }} </span>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">{{ user.order_customer.customer_phone }}</h1>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">{{ user.email }}</h1>
						</li>
					</ul>
				</div>
			</v-form>
			<h2 class="fs_40 cake_pink mt-5">Мои заказы</h2>
			{% if orders %}
        {% for order in orders %}
          <section class="my-2">
            <span class="cake_blue lk__order d-flex" data-bs-toggle="modal" data-bs-target="#OrderModal2">
              <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-clock-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
              </svg>
              <span class="ms-1">Торт #{{ order.id }}</span>
            </span>
            <aside class="modal fade" id="OrderModal2" tabindex="-1" aria-labelledby="ModalLabel2" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title cake_pink" id="ModalLabel2">Торт #{{ order.id }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <span class="cake_blue">Уровней: {{ order.cake.get_levels_display }}</span><br>
                    <span class="cake_blue">Форма: {{ order.cake.get_form_display }}</span><br>
                    <span class="cake_blue">Топпинг: {{ order.cake.get_topping_display }}</span><br>
                    <span class="cake_blue">Ягоды: {{ order.cake.get_berries_display }}</span><br>
                    <span class="cake_blue">Декор: {{ order.cake.get_decor_display }}</span><br>
                    <span class="cake_blue">{% if order.cake.title %} {{ order.cake.title }} {% else %}  Без надписи {% endif %} </span><br>
                    <span class="cake_pink">Цена: {{ order.cake.price }} </span>
                  </div>
                  <div class="modal-footer d-flex justify-content-between">
                    <span class="cake_blue d-flex"> Статус: {{ order.delivery_date }} </span>
                    <span class="cake_blue d-flex align-items-center">Время доставки: {{ order.delivery_time }}</span>
                  </div>
                </div>
              </div>
            </aside>
          </section>
        {% endfor %}
			{% else %}
			<li class="list-group-item border-0 ps-0">
				<span class="fs_40 cake_blue">У вас нет заказов</span>
			</li>
			<li class="list-group-item border-0 ps-0">
				<a class="nav-link fw-lighter cake_blue fs_25" href="{% url 'index' %}#step3">Сделать заказ</a>
			</li>
			{% endif %}
			<a class="btn text-white rounded-pill align-self-end px-5 mt-3 shadow-none cake__button cake__bg_pink" href="{% url 'logout' %}">Выйти</a>
			<span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
		</div>

	{% else %}

				<div>
					<ul class="list-group">
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">
								<a href="{% url 'signup' %}">Зарегистрироваться</a>
							</h1>
						</li>
						<li class="list-group-item border-0 ps-0">
							<h1 class="fs_40 cake_blue">
								<a href="{% url 'login' %}">Войти</a></span>
							</h1>
						</li>
					</ul>
				</div>
			<span class="cake_grey">Воспользуйтесь нашим <a href="https://vk.com/devmanorg" class="text-decoration-none cake_pink">чат-ботом</a>.</span>
	{% endif %}
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{% static 'lk.js' %}"></script>
</body>
</html>

{% endblock %}
